.bottom__wrapper {
    background-color: var(--second-brand-color);
}
.bottom {
    padding-bottom: 5rem;
    text-align: center; 
}
.bottom__text {
    text-align: left;
}
@media screen and (min-width: 1024px)  {

    .bottom__list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bottom__text-list {
        text-align: left;
    }
     .bottom__img {
         width: 40rem;
         max-width: 40rem;
         height: 30rem;
         object-fit: cover;
    }
}
@media screen and (min-width: 1440px)  {
    .bottom__list-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}